<div class="container">
  <h1> {{ crud.username | uppercase }}</h1>
  <div class="col-md-6">
    <p> {{ crud.message}} </p>
    <a data-ng-if="crud.isLoggedIn" data-ng-href="new">Add Place</a>
    <table class="table">
      <thead>
        <tr>
          <th>Places</th>
        </tr>
        <tr data-ng-repeat="a in crud.places">
          <td>{{ a.address | uppercase }}</td>
          <td data-ng-if="crud.isLoggedIn"><a data-ng-href="places/{{a.id}}/edit">Update Place</a></td>
        
          <td data-ng-if="crud.isLoggedIn"><button type="button" ng-click="crud.deletePlace(a.id)">Remove Place</button></td>
        </tr>
      </thead>
     </table>
  </div>
</div>