<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" data-ng-href="/">login</a>
            <a class="navbar-brand" data-ng-href="map">Map</a>
            <a class="navbar-brand" data-ng-href="places">places</a>
            <a class="navbar-brand" data-ng-href="search">Search</a>
            <a class="navbar-brand" data-ng-href="tags">Tags</a>
            <a class="navbar-brand" data-ng-href="users">Users</a>
            <a class="navbar-brand" data-ng-href="myplaces" data-ng-if="app.isLoggedIn()">Favorite Places</a>

      <button data-ng-if="app.isLoggedIn()" data-ng-click="app.logout()">Log out</button>
    </div>
  </div>
</nav>